# Defina o comportamento padrão, caso as pessoas não tenham configurado o core.autocrlf.
* text=auto eol=lf

# Declare explicitamente os arquivos de texto que você deseja que sempre sejam normalizados e convertidos
# em delimitadores de linha nativos ao fazer checkout.
*.ts        eol=lf
*.js        eol=lf
*.json      eol=lf

# Declare os arquivos que sempre terão delimitadores de linha CRLF ao fazer checkout.
*.sln text eol=crlf

# Indique todos os arquivos que são verdadeiramente binários e que não devem ser modificados.
*.png binary
*.jpg binary
